body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    width: 400px;
}

h1 {
    text-align: center;
}

.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-title, #task-desc, #task-date {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#task-desc {
    height: 80px;
}

#add-task-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #218838;
}

ul {
    /* list-style: none; */
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

li.completed span.title {
    text-decoration: line-through;
    color: gray;
}

button.delete-btn, button.complete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button.complete-btn {
    background-color: #28a745;
}

button.delete-btn:hover {
    background-color: #c82333;
}

button.complete-btn:hover {
    background-color: #218838;
}
li.not-completed span.title {
    color: red;
}
